{% extends "base.html" %}

{% block title %}
Courses
{% endblock %}

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/department.css') }}">
{% endblock %}

{% block content %}

<div class="main">

    <h1 class="page-title">Courses Offered</h1>

    <div class="department-grid">

        <div class="department-card cse">
            <div class="icon">💻</div>
            <h2>Computer Science Engineering</h2>
            <p>Course Code : CSE</p>
            <p>Duration : 4 Years</p>
        </div>

        <div class="department-card ds">
            <div class="icon">📊</div>
            <h2>Computer Science & Data Science</h2>
            <p>Course Code : CSE-DS</p>
            <p>Duration : 4 Years</p>
        </div>

        <div class="department-card aiml">
            <div class="icon">🤖</div>
            <h2>Artificial Intelligence & Machine Learning</h2>
            <p>Course Code : AI & ML</p>
            <p>Duration : 4 Years</p>
        </div>

        <div class="department-card ece">
            <div class="icon">📡</div>
            <h2>Electronics & Communication</h2>
            <p>Course Code : ECE</p>
            <p>Duration : 4 Years</p>
        </div>

        <div class="department-card eee">
            <div class="icon">⚡</div>
            <h2>Electrical & Electronics</h2>
            <p>Course Code : EEE</p>
            <p>Duration : 4 Years</p>
        </div>

        <div class="department-card mech">
            <div class="icon">⚙️</div>
            <h2>Mechanical Engineering</h2>
            <p>Course Code : MECH</p>
            <p>Duration : 4 Years</p>
        </div>

        <div class="department-card civil">
            <div class="icon">🏗️</div>
            <h2>Civil Engineering</h2>
            <p>Course Code : CIVIL</p>
            <p>Duration : 4 Years</p>
        </div>

        <div class="department-card it">
            <div class="icon">🌐</div>
            <h2>Information Technology</h2>
            <p>Course Code : IT</p>
            <p>Duration : 4 Years</p>
        </div>

    </div>

</div>

<div class="page-actions">
    <a href="/dashboard" class="back-btn">
        ← Back to Dashboard
    </a>
</div>

{% endblock %}